@model IEnumerable<WebsiteQuanLyNhaAn.Models.ThanhToan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayoutPageAdmin.cshtml";
}


<br />
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="circle-tile ">
                <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                <div class="circle-tile-content red">
                    <div class="circle-tile-description text-faded"> Tài Khoản Đã Đăng Kí </div>
                    <div class="circle-tile-number text-faded ">@ViewBag.Count</div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="circle-tile ">
                <a href="#">
                    <div class="circle-tile-heading dark-blue">
                        <i class="fa  fa-money
 fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content dark-blue">
                    <div class="circle-tile-description text-faded">Tổng Số Tiền</div>
                    <div class="circle-tile-number text-faded ">@ViewBag.Total VNĐ</div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="circle-tile ">
                <a href="#">
                    <div class="circle-tile-heading blue-sea">
                        <i class="fa   fa-comments-o fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content blue-sea">
                    <div class="circle-tile-description text-faded">Phản Hồi Mới</div>
                    <div class="circle-tile-number text-faded ">24</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="circle-tile ">
                <a href="#">
                    <div class="circle-tile-heading count-food">
                        <i class="fa fa-cutlery fa-fw fa-3x"></i>
                    </div>
                </a>
                <div class="circle-tile-content count-food">
                    <div class="circle-tile-description text-faded">Tổng Số Món Ăn</div>
                    <div class="circle-tile-number text-faded ">@ViewBag.Food</div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />

<table class="table" id="thongkeNV">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gia)
            </th>
            <th>@Html.DisplayNameFor(model => model.thangan)</th>
            <th>@Html.DisplayNameFor(model => model.status)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.maNV)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenNV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gia)
                </td>
                <td><span>@item.thangan</span></td>
                <td>
                    @{
                        string trangthai = item.status;
                        string label01 = "label label-success";
                        string label02 = "label label-danger";
                        string defaule = "";
                        if (trangthai == "Đã Thanh Toán")
                        {
                            defaule += label01;
                        }
                        else if (trangthai == "Chưa Thanh Toán")
                        {
                            defaule += label02;
                        }
                    }
                    <span id="status" class="@defaule" style="font-size: 12px;">@item.status</span>

                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new {id = item.maNV}) |
                        @Html.ActionLink("Details", "Details", new {id = item.maNV}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.maNV})*@

                    <a class="btn btn-primary" href="@Url.Action("Edit/" + item.maNV, "ThongKe")"><i class="fa fa-check" aria-hidden="true"></i> Thanh Toán</a>
                </td>
            </tr>
                        }
    </tbody>


</table>


<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/datatable.js" type="text/javascript"></script>


    <script>
        function thongkejQueryTable() {
            $("#thongkeNV").DataTable();
        }

        $(function () {
            thongkejQueryTable();
            //$('#thongkeNV_filter').html(" <label>Tìm kiếm:<input type='search' class='' placeholder='' aria-controls='thongkeNV'></label>");
            $(".dataTables_empty").text("Không Tìm Thấy!!!");
        });

    </script>
}


