@model WebsiteQuanLyNhaAn.Models.TaiKhoan
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Đăng Nhập</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>


    <!-- MetisMenu CSS -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->

    <link href="~/assets/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->


    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }

        .font {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

            .button:hover {
                opacity: 0.85;
            }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        body {
            /*background-image: url('../../Content/Images/Ảnh Trang Chủ/darkness.png');*/
            /*background-image: url('../../Content/Images/Ab6maL0pq9KKT0izRsNamOMVGLQ.jpg');*/
            background-image: url('../../Content/Images/Silicon-Valley-real-estate-The-Registry (1).jpg');
            /*background-image: url('../../Content/Images/SilVal_HEADER_new6-1.jpg');
            background-repeat: no-repeat;*/

        }
        #idbg {
            background-image: url('../../Content/Images/Silicon-Valley-real-estate-The-Registry.jpg');
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        html {
            background: url('../../Content/Images/Silicon-Valley-real-estate-The-Registry.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 100%;
            min-width:100%;

        }
    </style>
    <meta name="description" content="The description of my page" />
</head>
<body class="container" id="">


    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Đăng Nhập Dành Quản Lý</h3>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Autherzie", "LoginAdmin", FormMethod.Post))
                            {
                                <label><b>Mã Quản Lý</b></label>
                                @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { placeholder = "Mã Nhân Viên", @class = "font" } })<br />
                                @Html.ValidationMessageFor(model => model.MaNV)
                                <br />
                                <label><b>Mật Khẩu</b></label>
                                @Html.EditorFor(model => model.Pass, new { htmlAttributes = new { placeholder = "Mật Khẩu", @class = "font" } })<br />
                                @Html.ValidationMessageFor(model => model.Pass)
                                <input type="submit" name="name" value="Đăng Nhập" class="button" />
                                @*<input type="reset" name="name" value="Clear"/>*@<br />
                                <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>

                            }
                            <button id="psw">Quên mật khẩu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#psw").click(function() {
            alert("Vui lòng lên Phòng Nhân Sự để xin cấp lại mật khẩu!");
        });
    });
    </script>
    <script src="~/Content/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->

    <script src="~/assets/sb-admin-2.js"></script>
    <!-- Custom Theme JavaScript -->

    <script src="~/assets/metisMenu.min.js"></script>
</body>
</html>

